.cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.cart-text {
    font-size: 0.8rem;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.2rem 0.4rem;
    min-height: 0px;
    min-width: 22px;
    border-radius: 50%;
    color: #fba418de;  
    position: absolute;
    bottom: 23px;
    left: 10px;
    background-color: #8b8b8b13; 
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .cart-icon {
        font-size: 1.4rem;
    }  

    .cart-text {
        font-size: 0.7rem;
        padding: 0.3rem 0.4rem;
        min-height: 8px;
        min-width: 10px;  
        position: absolute;
        bottom:15px;
        left: 10px;
    }
}