.nav{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;  
    background-color: #ffffff; 
    padding: 2rem 4rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container p{
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
}

.styled{
    font-weight: 700;
    color: #FBA518;
    font-size: 1.6rem;
}